




.primary-bg{
	background-color: #AA0601;
}
.secondary-bg{
	background-color: #fbf2f2;
}
.primary-text{
	color: #6e0f0c;
}
.secondary-text{
	color: #FFF;
}
.thirdary-text{
	color: #aa0601;
}

.fs-h2{
	font-size: 64px;
	font-weight: 700;
}
.fs-h3{
	font-size: 48px;
	font-weight: 700;
}
.fs-h4{
	font-size: 24px;
	font-weight: 700;
}

.fs-4{
	font-size: 16px;
}
.fs-5{
	font-size: 20px;
}
.fs-6{
	font-size: 24px;
}
.fs-8{
	font-size: 32px;
}
.fs-9{
	font-size: 36px;
}

.mb-2{
	margin-bottom: 8px;
}
.mb-4{
	margin-bottom: 16px;
}



