<!DOCTYPE html>
<html lang="zh-hant">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />    
    
    <title>眼鏡網站</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

 
<!--banner-->
<div class="banner">
      <div class="container container-md container-sm">
              <div class="d-flex banner_txt primary-text">
                  <p class="banner_p">Promise-Desert 2020 早春系列</p>
                  <h2 class="banner_h2">看得清，才能看得遠</h2>
                  <a class="banner_link" href="#">立即購買</a>
              </div>
      </div>
</div>

<!--main-->
<main class="secondary-bg">
  <div class="container container-md container-sm main_section">
      <h3 class="fs-h3 fs-sm-h3 primary-text">用專業的心，做專業的事</h3>
      <ul class="d-flex row">
          <li class="main_list col-3 col-md-6 col-sm-12">
              <img class="main_icon" src="../assets/images/home-section2-1.png" alt="單一價格">
              <h4 class="fs-h4 primary-text">單一價格</h4>
              <p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
          </li>
          <li class="main_list col-3 col-md-6 col-sm-12">
              <img class="main_icon" src="../assets/images/home-section2-2.png" alt="20 分鐘即可取件">
              <h4 class="fs-h4 primary-text">20 分鐘即可取件</h4>
              <p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
          </li>
          <li class="main_list col-3 col-md-6 col-sm-12">
              <img class="main_icon" src="../assets/images/home-section2-3.png" alt="安心售後服務">
              <h4 class="fs-h4 primary-text">安心售後服務</h4>
              <p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
          </li>
          <li class="main_list col-3 col-md-6 col-sm-12">
              <img class="main_icon" src="../assets/images/home-section2-4.png" alt="關於鏡片">
              <h4 class="fs-h4 primary-text">關於鏡片</h4>
              <p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
          </li>
      </ul>
  </div>
</main>

<!--classic-->
<div class="classic">
  <div class="container container-md container-sm classic_section">
      <h3 class="fs-h3 primary-text fs-sm-h3 classic_title">經典系列鏡框</h3>
      <ul class="d-flex row classic_item">
          <li class="col-4 col-md-6 col-sm-12 classic_list">
              <a href="./optical.html">
                  <img class="classic_img" src="../assets/images/home-section3-1.png" alt="OPTICAL">
                  <h3 class="fs-h3 thirdary-text">OPTICAL</h3>
              </a>
          </li>
          <li class="col-4 col-md-6 col-sm-12 classic_list">
              <a href="./sunglasses.html">
                  <img class="classic_img" src="../assets/images/home-section3-2.png" alt="SUNGLASSES">
                  <h3 class="fs-h3 thirdary-text">SUNGLASSES</h3>
              </a>
          </li>
          <li class="col-4 col-md-6 col-sm-12 classic_list">
              <a href="#">
                  <img class="classic_img" src="../assets/images/home-section3-3.png" alt="FUNCTIONAL">
                  <h3 class="fs-h3 thirdary-text">FUNCTIONAL</h3>
              </a>
          </li>
      </ul>

  </div>
</div>

<!--design-->
<div class="design">
  <div class="container container-md container-sm design_section">
      <h3 class="fs-h3 fs-sm-h3 secondary-text design_title">聯名設計鏡框</h3>
      <ul class="d-flex design_item">
          <li class="col-6 col-md-12 design_list">
              <a href="#">
                  <picture>
                      <source srcset="../assets/images/home-section4-1-sm.png" media="(max-width: 576px)">
                      <img src="../assets/images/home-section4-1.png" alt="DOUBLE A+">
                    </picture>
                  <h3 class="fs-h3 thirdary-text">DOUBLE A+</h3>
              </a>
          </li>
          <li class="col-6 col-md-12 design_list">
              <a href="#">
                  <picture>
                      <source srcset="../assets/images/home-section4-2-sm.png" media="(max-width: 576px)">
                      <img src="../assets/images/home-section4-2.png" alt="YOUTH">
                    </picture>
                  <h3 class="fs-h3 thirdary-text">YOUTH</h3>
              </a>
          </li>
      </ul>
  </div>
</div>

<!--customer-->
<div class="customer">
  <div class="container container-md container-sm customer_section">
      <h3 class="fs-h3 fs-sm-h3 primary-text customer_title">顧客推薦</h3>
      <ul class="d-flex customer_item row">
          <li class="customer_list col-3 col-md-6 col-sm-12">
              <img class="customer_img" src="../assets/images/home-section5-1.png" alt="customer1">
              <div class="customer_txt">
                 <p class="customer_name">Jessy</p>
                 <p>眼鏡品質優良，下次還會想來這邊購買！</p>
                 <time class="customer_date" datetime="2021-06-20">2021/06/20</time>
              </div>
          </li>
          <li class="customer_list col-3 col-md-6 col-sm-12">
              <img class="customer_img" src="../assets/images/home-section5-2.png" alt="customer2">
              <div class="customer_txt">
                 <p class="customer_name">凱倫</p>
                 <p>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                 <time class="customer_date" datetime="2021-04-18">2021/04/18</time>

              </div>
          </li>
          <li class="customer_list col-3 col-md-6 col-sm-12">
              <img class="customer_img" src="../assets/images/home-section5-3.png" alt="customer3">
              <div class="customer_txt">
                 <p class="customer_name">悠悠</p>
                 <p>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                 <time class="customer_date" datetime="2020-12-25">2020/12/25</time>
              </div>
          </li>
          <li class="customer_list col-3 col-md-6 col-sm-12">
              <img class="customer_img" src="../assets/images/home-section5-4.png" alt="customer4">
              <div class="customer_txt">
                 <p class="customer_name">Kyuan</p>
                 <p>服務很好，品質沒有任何問題，非常喜歡。</p>
                 <time class="customer_date" datetime="2020-10-31">2020/10/31</time>
              </div>
          </li>
      </ul>
  </div>
</div>

<!--contact-->
<div class="secondary-bg">
  <div class="container container-md container-sm contact_section col-6 col-md-10 col-sm-12">
      <h3 class="fs-h3 fs-sm-h3 primary-text contact_title">聯絡我們</h3>
      <p class="caption">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
      <form>
          <div class="mb-4">
            <label  for="name">
              <p class="mb-2">姓名</p>
              <input id="name" class="input-style" type="text" placeholder="陳小明">
            </label>
          </div>

          <div class="mb-4">
            <label for="phone">
              <p class="mb-2">連絡電話</p>
              <input id="phone" class="input-style" type="tel" placeholder="0912-345-678">
            </label>
          </div>

          <div class="mb-4">
            <label for="email">
              <p class="mb-2">電子郵件</p>
              <input id="email" class="input-style" type="email" placeholder="example@email.com">
            </label>
          </div>

          <div class="mb-4">
            <label for="feedback">
              <p class="mb-2">意見反應</p>
            </label>
            <textarea id="feedback" class="input-style feedback" rows="5" cols="33" placeholder="請輸入您的意見"></textarea>
          </div>

          <div class="form_checkbox">
            <input class="checkbox-style" type="checkbox" id="privacy"/>
            <label for="privacy">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>
          </div>
      
          <a class="form_btn primary-bg secondary-text col-lg-4 col-md-6 col-sm-12" href="#">確認送出</a>
      </form>
      
      
  </div>
</div>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
