<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />    
    
    <title>眼鏡網站</title>
  </head>
<body>
    <%- include('./layout/header'); -%>
    
    <nav class="container container-md container-sm"  aria-label="產品分類">
        <ul class="product_menu d-flex">
            <li><a href="./optical.html">OPTICAL</a></li>
            <li><a href="./sunglasses.html">SUNGLASSES</a></li>
            <li><a href="#">FUNCTIONAL</a></li>
        </ul>
    </nav>
    <div class="d-flex">
        <picture class="product-header">
            <source srcset="../assets/images/product-header-sm-3.png" media="(max-width: 767px)">
            <img src="../assets/images/product-header-3.png" alt="產品形象照">
        </picture>
        <picture class="product-header">
            <source srcset="../assets/images/product-header-sm-4.png" media="(max-width: 767px)">
            <img src="../assets/images/product-header-4.png" alt="產品形象照">
        </picture>
    </div>   
    <main class="product_section container container-md container-sm">
        <h1 class="product-h1">
            Celluloid Combi</br>
            <span class="product-h2">賽璐珞鈦金屬混合鏡框</span>
        </h1>
        <ul class="d-flex row">
            <li class="sunglasses_card product-md-6 product-sm-12 fs-4">
                <img src="../assets/images/product-7.png" alt="BJ41600S">
                <div class="d-flex jc-sb">
                    <p class="product_number">BJ41600S</p>
                    <p class="product_price">NTD3,490</p>
                </div>
                <div class="color_card color1"></div>
                <div class="color_card color2"></div>
            </li>
            <li class="sunglasses_card product-md-6 product-sm-12 fs-4">
                <img src="../assets/images/product-8.png" alt="BJ41600S">
                <div class="d-flex jc-sb">
                    <p class="product_number">BJ41600S</p>
                    <p class="product_price">NTD3,490</p>
                </div>
                <div class="color_card color1"></div>
                <div class="color_card color2"></div>
            </li>
            <li class="sunglasses_card product-md-6 product-sm-12 fs-4">
                <img src="../assets/images/product-9.png" alt="BJ41600S">
                <div class="d-flex jc-sb">
                    <p class="product_number">BJ41600S</p>
                    <p class="product_price">NTD3,490</p>
                </div>
                <div class="color_card color1"></div>
                <div class="color_card color2"></div>
            </li>
            <li class="sunglasses_card product-md-6 product-sm-12 fs-4">
                <img src="../assets/images/product-10.png" alt="BJ41600S">
                <div class="d-flex jc-sb">
                    <p class="product_number">BJ41600S</p>
                    <p class="product_price">NTD3,490</p>
                </div>
                <div class="color_card color1"></div>
                <div class="color_card color2"></div>
            </li>
            <li class="sunglasses_card product-md-6 product-sm-12 fs-4">
                <img src="../assets/images/product-11.png" alt="BJ41600S">
                <div class="d-flex jc-sb">
                    <p class="product_number">BJ41600S</p>
                    <p class="product_price">NTD3,490</p>
                </div>
                <div class="color_card color1"></div>
                <div class="color_card color2"></div>
            </li>
            <li class="sunglasses_card product-md-6 product-sm-12 fs-4">
                <img src="../assets/images/product-12.png" alt="BJ41600S">
                <div class="d-flex jc-sb">
                    <p class="product_number">BJ41600S</p>
                    <p class="product_price">NTD3,490</p>
                </div>
                <div class="color_card color1"></div>
                <div class="color_card color2"></div>
            </li>

            
        </ul>
        
        <nav aria-label="產品列表頁數">
            <ul class="product_page d-flex jc-center">
                <li class="page_item"><a class="page_link" href="#">上一頁</a></li>
                <li><a class="page_link" href="#">1</a></li>
                <li><a class="page_link" href="#">2</a></li>
                <li><a class="page_link" href="#">3</a></li>
                <li><a class="page_link" href="#">4</a></li>
                <li><a class="page_link" href="#">5</a></li>
                <li><a class="page_link" href="#">下一頁</a></li>
            </ul>
        </nav>
    </main>
    
    
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
</body>
</html>